@import "compass/reset";
@import "compass/css3";

body {
  background-color:#f8f8f8;
  @include background-image(image-url('edge-snow.png'), image-url('edge-snow2.png'), image-url('edge-snow3.png'));
  -webkit-animation: edge-snow 30s linear infinite;
  -moz-animation: edge-snow 30s linear infinite;
  -ms-animation: edge-snow 30s linear infinite;
  animation: edge-snow 30s linear infinite;

  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 48px;
}

.container {
  width: 600px; height: 600px; margin: 20px auto;
  border: 10px solid #c93;
  @include background-image(radial-gradient(#444, #242424));
  @include box-shadow(0 0 25px rgba(0,0,0,0.5));
  @include border-radius(300px);

  .content {
    width: 600px; height: 600px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  h1, h2 {
    color: white;
    @include text-shadow(0 0 10px rgba(0,0,0,0.8));
  }
}

.input {
  margin: 20px 0;
}

input {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.frikkin-button {
  font-size: 18px; line-height: 32px; font-weight: bold; color: white;
  @include text-shadow(0 -1px 0 rgba(0,0,0,0.25));
  @include background-image(linear-gradient(lighten(#c93, 5%), darken(#c93, 5%)));
  border: 1px solid white;
  @include border-radius(3px);
  padding: 0 10px;
  
  &:hover {
    @include background-image(linear-gradient(#c93, darken(#c93, 5%)));
  }
  &:active {
    @include background-image(linear-gradient(lighten(#c93, 5%), darken(#c93, 5%)));
    @include box-shadow(0 0 8px rgba(0,0,0,0.4) inset);
  }
  &.frikkin-large-button {
    font-size: 28px;
    line-height: 48px;
    padding: 0 20px;
  }
}

@keyframes edge-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes edge-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes edge-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-ms-keyframes edge-snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}