/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 4, ../../sass/screen.scss */
body {
  background-color: #f8f8f8;
  background-image: url('/static/images/edge-snow.png?1354049788'), url('/static/images/edge-snow2.png?1354049863'), url('/static/images/edge-snow3.png?1354050060');
  -webkit-animation: edge-snow 30s linear infinite;
  -moz-animation: edge-snow 30s linear infinite;
  -ms-animation: edge-snow 30s linear infinite;
  animation: edge-snow 30s linear infinite;
  font-family: "PT Sans", Helvetica, Arial, sans-serif; }

/* line 15, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* line 18, ../../sass/screen.scss */
h1 {
  font-size: 48px; }

/* line 22, ../../sass/screen.scss */
.container {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  border: 10px solid #c93;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #444444), color-stop(100%, #242424));
  background-image: -webkit-radial-gradient(#444444, #242424);
  background-image: -moz-radial-gradient(#444444, #242424);
  background-image: -o-radial-gradient(#444444, #242424);
  background-image: radial-gradient(#444444, #242424);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px; }
  /* line 29, ../../sass/screen.scss */
  .container .content {
    width: 600px;
    height: 600px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  /* line 36, ../../sass/screen.scss */
  .container h1, .container h2 {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

/* line 42, ../../sass/screen.scss */
.input {
  margin: 20px 0; }

/* line 46, ../../sass/screen.scss */
input {
  font-family: "PT Sans", Helvetica, Arial, sans-serif; }

/* line 50, ../../sass/screen.scss */
.frikkin-button {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1a347), color-stop(100%, #b88a2e));
  background-image: -webkit-linear-gradient(#d1a347, #b88a2e);
  background-image: -moz-linear-gradient(#d1a347, #b88a2e);
  background-image: -o-linear-gradient(#d1a347, #b88a2e);
  background-image: linear-gradient(#d1a347, #b88a2e);
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px; }
  /* line 58, ../../sass/screen.scss */
  .frikkin-button:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc9933), color-stop(100%, #b88a2e));
    background-image: -webkit-linear-gradient(#cc9933, #b88a2e);
    background-image: -moz-linear-gradient(#cc9933, #b88a2e);
    background-image: -o-linear-gradient(#cc9933, #b88a2e);
    background-image: linear-gradient(#cc9933, #b88a2e); }
  /* line 61, ../../sass/screen.scss */
  .frikkin-button:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1a347), color-stop(100%, #b88a2e));
    background-image: -webkit-linear-gradient(#d1a347, #b88a2e);
    background-image: -moz-linear-gradient(#d1a347, #b88a2e);
    background-image: -o-linear-gradient(#d1a347, #b88a2e);
    background-image: linear-gradient(#d1a347, #b88a2e);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4) inset; }
  /* line 65, ../../sass/screen.scss */
  .frikkin-button.frikkin-large-button {
    font-size: 28px;
    line-height: 48px;
    padding: 0 20px; }

@keyframes edge-snow {
  /* line 73, ../../sass/screen.scss */
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  /* line 74, ../../sass/screen.scss */
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }

@-moz-keyframes edge-snow {
  /* line 78, ../../sass/screen.scss */
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  /* line 79, ../../sass/screen.scss */
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }

@-webkit-keyframes edge-snow {
  /* line 83, ../../sass/screen.scss */
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  /* line 84, ../../sass/screen.scss */
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }

@-ms-keyframes edge-snow {
  /* line 88, ../../sass/screen.scss */
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }

  /* line 89, ../../sass/screen.scss */
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
