extends layout

block content
  h1 Upload your video!

  #not_supported(style='display:none;')
    | Your browser is not exactly EDGE. At EDGE Academy 18-21th of Febrary we will have multiple sessions fitting out browser to different types of computers.
  #rejected(style='display:none;')
    | Ouch, don't trust us? Reload the page and allow the webcam.

  video(autoplay='autoplay')
  input#start(type='button', value='⚫')
  input#stop(type='button', value='◼')

  form(action='/upload', method='post', enctype='multipart/form-data')
    div.input
      input(type='file', name='video', accept='video/*;capture=camcorder')
    div.input
      input(type='submit').frikkin-button.frikkin-large-button

