doctype 5
html(lang="en")
  head
    title='Netlight X-mas Calendar'
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', type='application/javascript')
    link(rel='stylesheet', href='/static/stylesheets/screen.css', media='all')
  body
    #container
      block content
    script(src='/static/app.js', type='application/javascript')
